{{ with .Site.Params.favicon }}
<link rel="icon" type="image/ico" href="{{ . }}" />
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
  rel="stylesheet"
/>

<meta name="“title”" content="“PNT”" />
<meta name="“description”" content="“pacen’think”" />

<meta property="“og:type”" content="“website”" />
<meta property=“og:url” content=“https://pacenthink.io”>
<meta property="“og:title”" content="“PNT”" />
<meta property="“og:description”" content="“pacen’think”" />
<meta property=“og:image” content=“https://ibb.co/nD88Lvq”>

<meta property="“twitter:card”" content="“summary_large_image”" />
<meta property=“twitter:url” content=“https://pacenthink.io”>
<meta property="“twitter:title”" content="“PNT”" />
<meta property="“twitter:description”" content="“pacen’think”" />
<meta property=“twitter:image”
content=“https://ibb.co/nD88Lvq”>
<meta
  name="google-site-verification"
  content="SftgsisiC1cHZ3FUSkz7q52cmZj7s4o1eIQH7SsemoE"
/>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-99C9344K6W"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-99C9344K6W");
</script>
