{{ with .Site.Params.favicon }}
<link rel="icon" type="image/ico" href="{{ . }}" />
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
  rel="stylesheet"
/>
<meta
  name="google-site-verification"
  content="SftgsisiC1cHZ3FUSkz7q52cmZj7s4o1eIQH7SsemoE"
/>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-99C9344K6W"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-99C9344K6W");
</script>
<script id="mcjs">
  !(function (c, h, i, m, p) {
    (m = c.createElement(h)),
      (p = c.getElementsByTagName(h)[0]),
      (m.async = 1),
      (m.src = i),
      p.parentNode.insertBefore(m, p);
  })(
    document,
    "script",
    "https://chimpstatic.com/mcjs-connected/js/users/99c2a18d6e296d2076ab2c055/2435b85ffcfa758ee0714c943.js"
  );
</script>