a {
  text-decoration: none;
  color: var(--accent-color);

  &:hover {
    color: var(--accent-color-darker);
  }

  &.link {
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px
        rgba(var(--link-background-color), var(--link-background-opacity-hover))
        inset;
    }
  }
}
h2 a {
  &.link {
    transition: all 0.3s ease;

    &:hover {
      box-shadow: none;
    }
  }
}
[data-scheme="dark"] {
  header > a,
  footer  a {
    color: black;
  }
  code {
    color: #2997ff;
    background-color: transparent;
  }
  a {
    text-decoration: none;
    color: var(--accent-color);

    &.link {
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px
          rgba(0, 0, 0, 0.4) inset;
      }
    }
  }
  h2 a {
    &.link {
      transition: all 0.3s ease;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.section-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--body-text-color);

  a {
    color: var(--body-text-color);
  }
}
