<!-- Begin Mailchimp Signup Form -->
<link
  href="//cdn-images.mailchimp.com/embedcode/classic-071822.css"
  rel="stylesheet"
  type="text/css"
/>
<style type="text/css">
  .about-data {
    color: #667085;
  }
  #mc_embed_signup {
    background: #ebf4ff;
    font-family: sans-serif;
    border-radius: 16px;
    clear: left;
    padding: 3rem 2rem;
    text-align: center;
    font: 14px Helvetica, Arial, sans-serif;
  }
  .foot {
    display: flex !important;
  }
  .subscribe-subtitle {
    color: #667085;

    font-size: 20px;
    line-height: 30px;
  }
  .button {
    margin: 0px !important;
    height: auto !important;
    padding: 12px auto !important;
  }
  .input-box {
    width: 100% !important;
    padding: 12px !important;
    margin: auto;
  }
  .mce_inline_error {
    width: 100% !important;
    background: #ebf4ff !important;
    margin: 0px auto 0.5rem auto !important;
  }
  .mc-field-group {
    width: 100% !important;
    min-height: auto !important;
  }

  #mce-responses {
    width: 100% !important;
    margin: 2px auto !important;
    padding: 0px !important;
  }
  .response {
    width: 100% !important;
    margin: 2px auto !important;
    padding: 0px !important;
  }
  #mc-embedded-subscribe-form {
    display: flex !important;
    width: 65%;
    gap: 10px;
    margin: auto !important;
    justify-content: center;
  }

  @media (max-width: 560px) {
    .subscribe-subtitle {
      color: #667085;
      font-size: 14px;
      line-height: 20px;
    }
    #mc_embed_signup {
      padding: 2rem 1rem;
    }

    #mc-embedded-subscribe-form {
      display: flex !important;
      width: 85%;
      gap: 4px;
      flex-direction: column;
      align-items: center;
      margin: 12px auto !important;
      justify-content: space-between;
    }
  }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <h1>Subscribe for Free</h1>
  <p class="subscribe-subtitle">
    Get the earliest access to hand-picked content weekly for free.
  </p>
  <form
    action="https://nurdsoft.us21.list-manage.com/subscribe/post?u=32bd586ed246bab936c97928e&amp;id=49df8ffb0c&amp;f_id=00bcaee1f0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate form-style"
    target="_blank"
    novalidate
  >
    <div id="mc_embed_signup_scroll" style="width: 80%">
      <div class="mc-field-group">
        <input
          type="email"
          class="input-box"
          placeholder="Enter your email"
          value=""
          name="EMAIL"
          id="mce-EMAIL"
        />
      </div>
      <div id="mce-responses" class="clear foot">
        <div
          class="response"
          id="mce-error-response"
          style="display: none"
        ></div>
        <div
          class="response"
          id="mce-success-response"
          style="display: none"
        ></div>
      </div>
       <div hidden="true">
        <input type="hidden" name="tags"value="346732"/>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
         name="b_32bd586ed246bab936c97928e_49df8ffb0c"
          tabindex="-1"
          value=""
        />
      </div>
    </div>
    <div class="optionalParent">
      <div class="clear foot">
        <input
          style="padding: 4.5px 10px"
          type="submit"
          value="Subscribe"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="button"
        />
      </div>
    </div>
  </form>
  <p style="font-size: 14px; margin: 4px">
    We care about your data in our
    <a
      style="font-weight: 500; text-decoration: underline"
      href="/page/privacy/"
    >
      privacy policy</a
    >
  </p>
</div>
<script
  type="text/javascript"
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
></script>
<script type="text/javascript">
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    fnames[1] = "FNAME";
    ftypes[1] = "text";
    fnames[2] = "LNAME";
    ftypes[2] = "text";
    fnames[3] = "ADDRESS";
    ftypes[3] = "address";
    fnames[4] = "PHONE";
    ftypes[4] = "phone";
    fnames[5] = "BIRTHDAY";
    ftypes[5] = "birthday";
  })(jQuery);
  var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->
